{{!-- layouts/main.hbs --}}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <meta name="description" content="Khám phá vẻ đẹp du lịch Việt Nam qua các địa điểm hấp dẫn và đặt tour dễ dàng.">
    
    <!-- CSS Toàn cục -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">

    {{#each pageStyles}}
    <link rel="stylesheet" href="{{this}}">
    {{/each}}
</head>

<body>
    {{> header}}

    {{{body}}}

    {{> footer}}

    {{#each pageScripts}}
    <script src="{{this}}"></script>
    {{/each}}
</body>

</html>